# Python cache and bytecode files
__pycache__/
*.py[cod]

# Virtual environment
venv/
ENV/

# Django specific files
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
staticfiles/

# Frontend specific
node_modules/
dist/
build/

# IDE specific files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db


#setup files in root directory. original are in tools
setup_*.sh
start_*.sh